.header-color{
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.landing-grid{
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.avatar-img{
  height: 250px;
  padding-top: 5px;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  
}
.projects-grid{
  display: flex;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.avatar-img {
  border-radius: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-links{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
}
.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}