.header-color{
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}
.header-link{
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.landing-grid{
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.logo-img{
  height: 45px;
  width: 130px;
  float: left;
  
  /* border: 2px solid grey;  */
}
.avatar-img{
  height: 250px;
  padding-top: 5px;
}

.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
  
}
.projects-grid{
  display: flex;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.avatar-img {
  border-radius: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.social-links{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
}
.social-links i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

/* Contact page CSS */

.contact-body{
  margin: auto;
  background: url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;

}
.contact-text{
  display: flex;
}
.contact-body p{
padding-top: 20px;
font-size: 14px;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border: 3px solid #4CA1AF;
  margin-bottom: 20px;
  display: flex;

}
.contact-grid h2{
  font-family: 'Anton', sans-serif;
}
.contact-img{
  height: 350px;
  /* border-radius: 8px;
  border: 2px solid #4CA1AF; */
  
}

.contact-grid {
  width: 75%;
  height: 80%;
  margin: 'auto';
  padding-top: '1em';
  font-family: 'Vollkorn', sans-serif;
  
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: '##35393a';
  
  
}

.contact-grid p{
  width: 75%;
  margin: 'auto';
  padding-top: '1em';
  font-family: 'Vollkorn', sans-serif;
  
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: '##35393a';
  
}
.contact-grid hr{
 border-top: 5px dotted black;
 width: 50%;
 margin: 'auto';
 margin-left: 25%;
 margin-right: 25%;
  
}
.contact-list i {
  font-size: 60px;
  padding-right: 1em;
  padding-bottom: .35em;
}

{/* project page css*/}
.projects-background{
  background: url(https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100%;
  width: 100%;
  position: absolute;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position:  center; 
  filter: blur(5px);
  left: 0px;
  top: 0px;
  z-index: -1;
 
}
.mdl-tabs__tab-bar{
  /* background-color: lightgoldenrodyellow; */
  opacity: .8;
  color: #4CA1AF;
}

.category-tabs{
  filter: none;
  font-size: 20px;
  font-weight: bold
}
.projects-container{
  /* height: 100%; */
}

/* Resume page CSS */
.resume-body{
  margin: auto;
  background: url(https://images.pexels.com/photos/60561/winter-snow-nature-60561.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position:  top; 

}
.resume-body p{
  background-color: black;
  opacity: .4;
  width: 7%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  color: #4CA1AF;
  padding: 12px 17px;
  
}


.pdf-doc{
  justify-content: center;
   margin: 'auto';
}

.react-pdf__Document{
  display: flex;
  justify-content: center;

}

.resume-nav{
  display: flex;
  justify-content: center;
  padding: 1em;
}
.resume-nav-button-prev{
  background-color: #4CA1AF;
  padding: 8px 17px;
  color: white;
  border-radius: 8px;
  width: 85px;
  height:35px;
   content: "\003C";

}
.resume-nav-button-next{
  background-color: #4CA1AF;
  padding: 8px 17px;
  color: white;
  border-radius: 8px;
  width: 85px;
  height:35px;
}


.react-pdf__Page__canvas{
  border-radius: 8px;
  
}

.pagination{
  padding-top:0px;
  border: 2px solid #4CA1AF;
}

/* Resume page CSS */
.about-body{
  margin: auto;
  background: url(https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position:  center; 
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.about-grid{
  width: 1104px;
  height: 80%;
  margin: 'auto';
  padding: '1em';
  font-family: 'Vollkorn', sans-serif;
  background-color: white;
  border: 3px solid #4CA1AF;
  margin-left: 12.5%;
  margin-right: 12.5%;
  color: '##35393a';
}
.profile-img{
  height: 588px;
  text-align: center;
  /* padding-bottom: 20px; */
  
  
  border: 2px solid #4CA1AF;
}
about-me-wrapper{
  justify-content: center;
  padding-left: 30px;
}
.ProfilePhoto-container{
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 20px;
  padding-right: 1em;
  margin-right: 20%;
  width: 100%;
  justify-content: center;
}
.about-me-text {
  justify-content: center;
  
   
 }

.about-me-text hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: 'auto';
  margin-left: 25%;
  margin-right: 25%;
   
 }
 .about-me-text h2{
  font-family: 'Anton', sans-serif;
  text-align: center;
   
 }
 .about-me-photos h2{
  font-family: 'Anton', sans-serif;
  text-align: center;
   
 }
 .about-me-text p{
  width: 80%;

  /* padding-top: '2em'; */
  font-family: 'Vollkorn', sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: '##35393a';
  font-size: 16px;
 }
.about-me-photos{
  padding: '1em';
  justify-content: center;
}

 .about-me-span{
  width: 100%;
  background-color:#e4e7e7;
  /* margin-left: 5%;
  margin-right: 5%; */
  justify-content: center;
 }

 .row {
  display: flex;
  text-align: center;
  width: 96%;
  
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.column img{
  width: 100px;
  padding: 5px;
}
.column p{
font-family: 'Oswald', sans-serif;
font-weight: bold;
font-size: 18px;
}
